[submodule "wpfui"]
	path = wpfui
	url = https://github.com/lepoco/wpfui
[submodule "ColorPicker"]
	path = ColorPicker
	url = https://github.com/PixiEditor/ColorPicker
[submodule "update-api"]
	path = update-api
	url = https://github.com/ColbemLLC/update-api.git
